<%- include('header', {title: `Add note`}); -%>
  <div class="block p-6 rounded-lg bg-white max-w-md">
  <form autocomplete="off" action="/note" method="POST">
    <h2 class="text-lg">Bird Sighting Entry</h2>
  <p>Tell us what you saw!</p>
  <br/>
 <label for="date" class="label">Date</label>
      <div class="relative">
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
      </div>
      <input id="date" name="date" datepicker type="text" class="form-control input" placeholder="MM/DD/YYYY">
      </div>
      <br/>
<label for="time" class="label">Time</label>
      <div class="flex justify-left">
      <div class="timepicker relative mb-3 w-full">
    <input type="text" name="time"
      class="form-control input"
      placeholder="HH:MM AM/PM" />
  </div>
      </div>
      <br/>
<div class="form-group mb-6">
      <label class="label" for="appearance">Appearance</label>
      <input type="text" name="appearance" class="form-control input" id="exampleInput7"
        placeholder="Appearance">
    </div>
    <div class="form-group mb-6">
      <label for="flock_size" class="label">Flock size</label>
      <input type="number" class="form-control input" id="exampleInput7" name="flock_size"
        placeholder="Flock size">
    </div>
    <div class="form-group mb-6">
      <label for="vocalization" class="label">Vocalization</label>
      <input name="vocalization" type="text" class="form-control input" id="exampleInput8"
        placeholder="Vocalization">
    </div>
    <div class="form-group mb-6">
      <label for="habitat" class="label">Habitat</label>
      <textarea
      name="habitat" class="form-control input"
      id="exampleFormControlTextarea13"
      rows="3"
      placeholder="Habitat"
    ></textarea>
    </div>
    <div class="form-group form-check text-left mb-6">
      <label for ="behaviour" class="label">
  Behaviour
  <select name="behaviour" class="form-multiselect block w-full mt-1 input" multiple>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
    <option>Option 5</option>
  </select>
</label>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
  </div>
  </body>
